In [3]:
import geohash2
import pandas as pd

In [4]:
df=pd.read_csv('output_stations.csv')

In [5]:
df.head()

,id,name,geom
0,GHCND:US1MNCS0014,"PINE RIVER 2.7 NE, MN US",SRID=4326;POINT(-94.360954284668 46.751579284668)
1,GHCND:US1MNCS0015,"PINE RIVER 5.6 SSW, MN US",SRID=4326;POINT(-94.43287 46.645092)
2,GHCND:US1MNCS0016,"WALKER 7.6 ESE, MN US",SRID=4326;POINT(-94.446857 47.032891)
3,GHCND:US1MNCS0018,"HACKENSACK 7.0 ENE, MN US",SRID=4326;POINT(-94.3727 46.9558)
4,GHCND:US1MNCS0023,"HACKENSACK 7.1 ENE, MN US",SRID=4326;POINT(-94.375139 46.961667)

In [7]:
new_df=df.copy()

0    SRID=4326;POINT(-94.360954284668 46.751579284668)
1                 SRID=4326;POINT(-94.43287 46.645092)
2                SRID=4326;POINT(-94.446857 47.032891)
3                    SRID=4326;POINT(-94.3727 46.9558)
4                SRID=4326;POINT(-94.375139 46.961667)
Name: geom, dtype: object